body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #000; /* Fundo escuro */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8); /* Caixa com leve transparência */
    padding: 20px;
    border-radius: 10px;
    color: white;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    border: none;
    background-color: #18191a;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
